.breadcrumb {

    .breadcrumb-item {
        
        a {
            text-decoration: none;
            color: $secondary;
        }

        &.active {
            color: $secondary-300;
            font-size: 14px;
        }

        + .breadcrumb-item {
            padding-left: .75rem;

            &::before {
                padding-right: .75rem;
            }
        }
    }
}